<module>
	<rawname>dictate</rawname>
	<repo>extended</repo>
	<name>Dictation</name>
	<version>16.0.1</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>https://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<changelog>
		*16.0.1* 16.0 release
	</changelog>
	<description>This uses the app_dictate module of Asterisk to let users record dictate into their phones. When complete, the dictations can be emailed to an email address specified in the extension page.</description>
	<more-info>https://wiki.freepbx.org/display/FPG/Extensions+Module+-+Other+%28Custom%29+Extension#ExtensionsModule-Other(Custom)Extension-DictationServices</more-info>
	<supported>
		<version>16.0</version>
	</supported>
</module>
