<module>
	<rawname>dictate</rawname>
	<name>Dictation</name>
	<version>1.0.0</version>
	<type>setup</type>
	<category>Utilities</category>
	<changelog>
		*1.0.0* Original Release
	</changelog>
	<location>release/2.2/dictate-1.0.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Dictation</info>
	<md5sum>a854f2fe790ceaa5ddd9fe64a1ac8368</md5sum>
</module>
